.cactus-logo {
    width: 100px;
    margin-bottom: -80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.web-title {
    font-family: 'Gajraj One', cursive;
    font-size: 60px;
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 0px;
    text-align: center;
   color: rgb(255, 111, 89);
 }
 
 .rsa-web-title {
     font-family: 'Sedgwick Ave Display', cursive;
     font-size: 60px;
     font-weight: bold;
     margin-left: 3px;
     margin-bottom: 0px;
     text-align: center;
     color: rgb(90, 106, 77);
  }
 
  .dh-web-title {
     font-family: 'Creepster', cursive;
     font-size: 80px;
     font-weight: bold;
     margin-left: 3px;
     margin-bottom: 72px;
     text-align: center;
     color: rgb(11, 0, 51);
  }
 
  .name {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: -20px;
    color: rgb(243, 223, 174);
  }
 
  .rsa_encryption_algorithm {
   font-family: 'Covered By Your Grace', cursive;
   text-align: center;
   margin-top: 100px;
   color:white;
   font-size: 33px;
   margin-bottom: 10px;
   background-color: rgb(238, 198, 202);
   padding-top: 18px;
   padding-bottom: 18px;
   border-radius: 100px;
  }
 
  .span-exmaple:hover {
     color: black;
   }
  
   .span-exmaple {
     cursor: pointer;
   }
 
  .Diffie_Hellman_Algorithm {
     font-family: 'Covered By Your Grace', cursive;
     text-align: center;
     margin-top: 100px;
     color:white;
     font-size: 33px;
     margin-bottom: 10px;
     background-color: rgb(238, 198, 202);
     padding-top: 18px;
     padding-bottom: 18px;
     border-radius: 100px; 
  }
 
  .spa2:hover {
    color: black;
  }
 
  .spa2 {
    cursor: pointer;
  }
 
 
 .rsa_link {
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
  margin-top: 0px;
  font-size: 15px;
  background-color: rgb(238, 198, 202);
  color: white;
  border: none;
  height: 32px;
  width: 200px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.16s;
  margin-left: 20px;
 }
 
 .rsa_link:hover {
   box-shadow: 0px 13px 10px rgba(238, 198, 202, 0.15);
 }
 
 .rsa_link:active {
  opacity: 0.7;
 }

 a:link {
    color: rgb(19,117,71);
    text-decoration: none;
}
/* visited link */
a:visited {
    color: rgb(131,137,137);
}
/* mouse over link */
a:hover {
    color: rgb(131,137,137);
    border-bottom: none;
}
/* active link */
a:active {
    color: black;
}

.dh-video {
    font-family: 'Bigelow Rules', cursive;
    font-size: 40px;
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(90, 106, 77);
 }

 .dh-div {
     width: 600px;
     display: block;
     position: absolute;
     height: 1px;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .try {
     font-family: 'Cinzel Decorative', cursive;
     font-size: 43px;
     text-align: center;
     color: rgb(227,91,0);
     margin-top: auto;
 }

 .dh-image-text {
     font-family: 'Dynalight', cursive;
     font-size: 70px;
     text-align: center;
     margin-bottom: 13px;
     color: rgb(191,149,255);
 }

 .stream-cipher{
     text-align: center;
     font-size: 50px;
     margin-bottom: 13px;
     font-family: 'Rye', cursive;
     color: rgb(255, 42, 19);
 }

  .block-cipher{
      text-align: center;
      font-size: 50px;
       margin-bottom: 13px;
     font-family: 'Lucida Sans';
      color: rgb(160, 19, 255);
  }

 .p1 {
      font-family: 'Sedgwick Ave', cursive;
      font-size: 25px;
 }

 .blockp {
     font-family: 'Nanum Brush Script', cursive;
     font-size: 30px;
 }

 .streamp {
     font-size: 30px;
     font-family: 'Arizonia', cursive;
 }

.xor {
    text-align: center;
    margin-bottom; 3px;
}
